/*
* Font config ...
font-family: 'Baloo 2', sans-serif;
font-family: 'Rubik', sans-serif;
*/

/* Font configuration */
.bloo-color {
    color: #0080BC;
}
.bg-bloo {
    background-color: #0080BC;
    color: #fff;
}
.bloo-outline {
    border: 2px solid #0080BC;
    color: #0080BC;
    background-color: #fff;
}
.bloo-outline:hover {
    background-color: #0080BC;
    color: #fff;
}
a.primary-text-color:hover, .primary-text-color {
    color: #A9A9A9;
}

h1,h2,h3,h4,h5,h6,h7 {
    font-family: 'Baloo 2', sans-serif;
    color: #0080BC;
    font-weight: 700;
}
.light-title {
    font-size: 1.2rem;
}
body {
    font-family: 'Baloo 2', sans-serif;
    background-color: #fff;
    color: #A9A9A9;
}

/* Gestion des icones */
.has-feedback-left .form-control-feedback {
    left: 5px;
}

/* Login page */
#login .bloo-fg {
    border-radius: 5px;
    border: 1px solid #fff;
    padding: 0 0px;
    background: #fff;
}

#login .bloo-fg input[type=email], #login .bloo-fg input[type=password], #login .bloo-fg input[type=email]:focus, #login .bloo-fg input[type=password]:focus {
    border-bottom-color: transparent;
}

/* #login .form-group button {
    font-family: 'Baloo 2', sans-serif;
    font-weight: 400;
    color : #fff;
    text-transform: none;
    border: 1px solid #0080BC;
    font-size: 20px;
    background-color: #0080BC;
} */
#login .form-group button:hover {
    color: #0080BC;
    background-color: #fff;
    border: 2px color #0080BC;
}

#login .checkbox-inline, #login a, #login a:visited, #login a:hover {
    color: #0080BC;
}

#login button[type=submit].bg-bloo:hover {
    color: #0080BC;
    border: 2px solid #0080BC;
    background-color: transparent;
}

#login .panel-body {
    padding: 40px;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
}

.hr-6 {
    margin-top: 0px;
    width: 60%;
    margin-bottom: 50px;
    color: #A9A9A9;
}

#login .form-content {
    background-color: rgba(255, 255, 255, 0.7);
}

/* Login page */
.login-logo-header {
    margin-bottom: 100px;
}
.login-logo-header img {
    width: 200px;
    height: auto;
}

.footer ul li {
    list-style: none;
    list-style-type: none;
    display: inline-block;
    padding: 0 20px;
    font-size: 14px;
    color: #fff;
}
.footer ul li a, .footer ul li a:hover, .footer ul li a:visited   {
    color: #fff;
}

/* Loader for form */
/* center loader */
#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    0% {transform: rotate(0deg);}
    100% {transform: rotate(360deg);}
}
#form_content {
    display: none;
}

/* Mise a jour de la dimension du logo */
.logo {
    width : 200px;
    height: auto;
}

/* Login Page */

/* Form Container */
.form-container-2 {
    margin-top: 50px;
    border: 1px solid transparent;
    border-radius: 10px;
    padding: 50px;
    box-shadow: 0px 0px 15px #A9A9A9;
}

.connection-info {
    display: flex;
}
.connection-info-0 {
    display: none;
}

/* REGISTER PAGE STEP 1 */
.google-img-signin {
    width: 20px;
    height: auto;
}
#login .nav-tabs {
    border-bottom: 1px solid transparent;
}
#login .nav-tabs a {
    width: 50%;
}
#login .nav-tabs a.nav-item {
    font-weight: 400;
    color: #A9A9A9;
}
#login .nav-tabs a.nav-item.active {
    font-weight: 700;
    color: #333;
    border: 1px solid transparent;
    border-bottom: 2px solid #0080BC;
}
.mb-50 {
    margin-bottom: 50px;
}

/* REGISTER PAGE STEP 3 */
.register .card .card-body div.create-form {
    color: #0080BC;
}
.register .card .card-body:hover div.create-form {
    color: #fff;
}
.register.last .card .card-body:hover {
    cursor: pointer;
    background-color: #0080BC;
    border-radius: 0.25rem;
}

/* CREATE MODEL */
#modal-create-category .modal-body {
    display: flex;
    padding: 0px;
    height: 450px;
}
.left-title {
    display: flex;
    align-items: center;
}

#modal-create-category .modal-body aside {
    flex: 1;
    height: 100%;
    overflow-y: auto;
}
#modal-create-category .modal-body aside li i {
    font-size: 4rem;
    margin-right: 0.3rem;
}
#modal-create-category .modal-body aside ul {
    padding: 0;
}
#modal-create-category .modal-body aside li {
    list-style: none;
    padding: .5rem 0 .5rem 16px;
    border-bottom: 1px solid #EEE;
    display: flex;
    align-items: center;
    color: #81cAE0;
}
#modal-create-category .modal-body aside li.active {
    color: #0080BC;
}
#modal-create-category .modal-body .content {
    flex: 2;
    padding: 10px;
    box-shadow: -.1em 0em .5em #EEE;
    height: 100%;
    overflow-y: auto;
}

/* REGISTER CAROUSEL */
ol.register-indicators {
    padding-left: 0px;
}
ol.register-indicators li  {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    background-color: #9fdbf7;
    cursor: pointer;
}
ol.register-indicators li.active  {
    display: inline-block;
    background-color: #0080BC;
}

.accor-register .slide-item {
    display: none;
}
.accor-register .slide-item.active {
    display: flex;
}
/* PAIEMENT INFOS */
.cart-infos i {
    font-size: 1.5rem;
}
.cart-infos {
    padding-top: 5px;
    border-bottom: 1px solid #A9A9A9;
}
i.paiement-header-ico {
    font-size: 1.5rem;
    margin-right: 3px;
}
.card-title-12 {
    font-size: 1.2rem;
}
a.recu {
    display: block;
    font-size: 0.8rem;
}
.address-title {
    font-weight: 700;
}

/* Dashboard 3 */
.sites td i:hover {
    cursor: pointer;
    color: #DB0042;
}
.sites td i:active {
    font-size: 1.1rem;
}
.sites td:hover {
    background-color: #EEE;
}

/* DASHBOARD ESTIMATE CREDITS */
.est-cdt {
    background:radial-gradient(ellipse at top left, #FFF8AD, transparent),radial-gradient(ellipse at top right, #feee0c, transparent);
}
.est-cdt .montant {
    font-size: 3rem;
    color: #fff;
    text-shadow: -1px -1px 2px #A9A9A9;
}
.est-cdt .est-title {
    font-size: 1.4rem;
    color: #00000050;
}
.btn-est {
    color: #fff;
    background-color: #00000050;
    font-size: 1.2rem;
    padding: 5px 25px;
}

/* MODAL DESIGN */
.modal .modal-header {
    color: #fff;
    background-color: #0080BC;
}
.modal .modal-header .modal-title, .modal .modal-header button.close {
    opacity: 1;
    color: #fff;
}

/* Gestion de l'icone dans les blocs - operation creation */
i.icon-operation {
    font-size: 3rem;
}
.register input[type="checkbox"]:checked::before {
    color: #0080BC;
    background-color: red;
}

/* ========== SMALL SCREEN UNDER 576PX ============ */
/* ================================================ */
@media screen and (max-width: 576px) {
    .connection-info-0 {
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center !important;
    }
    #header {
        margin-top: 10px;
    }
    .connection-info {
        display: none;
    }
    .connection-bloc {
        margin-top: 0px !important;
    }

    /* REGISTER STEP 2 */
    .form-container-2 {
        margin-top: 50px;
        border: 1px solid transparent;
        border-radius: 10px;
        padding: 50px;
        box-shadow: 0px 0px 0px transparent;
    }
}